<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="ServiceUri" value="https://ciapipreprod.cityindextest9.co.uk/TradingApi"/>
      <!-- LIVE: https://ciapi.cityindex.com/TradingApi -->
      <!-- PPE: https://ciapipreprod.cityindextest9.co.uk/TradingApi -->
      <add key="UserMockData" value="False"/> <!-- True | False -->
    </appSettings>
    
    <system.web>
        <!-- This demo supports en-GB and pl-PL -->
        <globalization uiCulture="en-Gb" culture="en-GB"/>
<!--      <globalization uiCulture="pl-PL" culture="pl-PL"/>-->
        
        <!-- This is required for the Authentication control-->
        <httpHandlers>
          <add verb="POST" path="CIAPI.AspNet.Controls.Authentication/StoreConnectionInSession.ashx" type="CIAPI.AspNet.Controls.Authentication.StoreConnectionInSession, CIAPI.AspNet.Controls"/>
        </httpHandlers>
     
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
